extends layout

block content
	h1(class='pageTitle')= title
	div(class='userInput')
		if logged
			include _newTwit
		else
			include _login
	div(class='twitList', id="twits")
		include _twits

block js
	script( src="/javascripts/main.js" )