extends layout

block content
	h1(class='pageTitle')=title
	form(class='login', action="/users/new", method="post")
		p Enter your username!
			input(name="name")
		p
			input(type="submit", name="submit")
block js